<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>ООО "Кубань-Вода"</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/css/font.css" type="text/css" />
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script src="~/js/jquery2.0.3.min.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/screenfull.js"></script>
    <script>
	$(function () {
		$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

		if (!screenfull.enabled) {
			return false;
		}

		$('#toggle').click(function () {
			screenfull.toggle($('#container')[0]);
		});
	});
    </script>
    <!-- tables -->
    <link rel="stylesheet" type="text/css" href="~/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/basictable.css" />
    <script type="text/javascript" src="~/js/jquery.basictable.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body  class="dashboard-page" style="display: none" data-bind="visible: true">
    @*<div class="wrapper container">*@
    @*<header>
            <a class="brand" href="/">ОАО АТМ-Кубань</a>
            @Html.Partial("_LoginPartial")
        </header>*@

    <script>
        var theme = $.cookie('protonTheme') || 'default';
        $('body').removeClass(function (index, css) {
            return (css.match(/\btheme-\S+/g) || []).join(' ');
        });
        if (theme !== 'default') $('body').addClass(theme);
    </script>

    @Html.Partial("_Sidebar")
    <section class="wrapper scrollable">
        @Html.Partial("_Navbar")

        <div class="main-grid">
            @RenderBody()
            @RenderSection("SPAViews", required: false)
        </div>
        @Html.Partial("_Footer")
    </section>
    @*</div>*@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/proton.js"></script>
    @Scripts.Render("~/bundles/highcharts")
    @RenderSection("Scripts", required: false)
</body>
</html>
